h1 { font-size: 3em; font-weight: bold; margin-top: 0; }
h2{font-weight: bold;}
div#topHeaderRow {
   font-size: 0.9em;
   padding-top: 15px;
}

#topHeaderRow a{
    color: lightgray;
    margin: 10px;
    opacity: 0.8;
}
#logoRow{
    padding: 0;
}
#logoRow h1{
    padding: 0
}
#logoRow form{
    padding: 0;
}
article{
    max-width: 1240px;
    padding-left:0;
    padding-right:0;
    margin-right:0px;
    margin-left:80px;
}
#section1{


}
#section1 p{
   font-weight: bold;
}
#section1 img{
    float:left;
    padding:4px;
    background:transparent;
    margin-right: 8px;
}

#section1 div table {
    border:1px solid lightgray;
    border-radius: 4px;
}
#section1 div table th{
    padding-left: 10px;
}
#section1 .btn-group{
    font-weight: normal;
    padding: 0;
}
#section2{
    padding-left: 0;
    margin-bottom: 20px;
}
#section2 p{
    font-size:1.35rem;
}
#section2 button{
    padding:0 5px 0 5px;
    font-size:1.3rem;
}
.price { 
 color: red;
  font-weight: bolder;
}

.similarTitle { font-weight: bold }

aside{
    float: right;
    padding: 0;
    display: table;
}

#cart{
    display: block;
    padding:0;
}
#cart div{
    padding:20px 20px 0 20px;
    display: inline-flex;
}
#cart div p{
    margin-left: 10px;
    font-size:0.9rem;
}
#cart strong{
    margin-left: 15px;
}
#cart div.btn{
    padding:0 0 15px 15px;
}
#cart h4{
   margin: 0;
}
#cart button{
    padding:0 3px 1px 0;
    margin-left: 5px;
}
#cart button span{
    padding: 4px;
}
.cartText { 

}
#artists{
    display: block;
    padding:0
}
#artists h4{
    margin:0;
}
#genres{
    display: block;
    padding:0;
}
#genres h4{
    margin:0;
}
footer {
    clear: both;
   margin-top: 2em;
   background-color: #E7E7E7;
}
footer div.container{
    margin-left:70px;
    max-width: 1200px;
}
footer div.col-lg-3 ul li a{
    line-height: 45px;
}
footer div.media-left{
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}
footer div.media-body{
    display: table-cell;
    vertical-align: middle;
}
/*我的bootstrap库里media类根本啥也没有，必须自己设*/

.tight-form-group {  }

#copyrightRow { 
    background-color: #3A3A3A;
    color:lightgray;
    padding:10px 20px 0 20px;
}